<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vārda dienu meklēšana</title>
</head>
<body>
  <a href="/">Atpakaļ uz sākumu</a>
  <h1>Vārda dienu atlase</h1>
  <label for="menesis">Ieraksti mēneša numuru, ko vēlies atrast</label><br>
  <input type="text" id="menesis">
  <div id="menesis"></div>

  <label for="dzimums">Izvēlies dzimumu, kādu vārdu meklēt</label>
  <select name="dzimums" id="dzimums">
    <option value="visi">Visus</option>
    <option value="siev">Sieviešu</option>
    <option value="vir">Vīriešu</option>    
  </select>


  <button onclick="">Meklēt</button>
 

</body>
</html>